@page "/counter"

<h1>Счетчик</h1>

<p>Текцщий номер: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Нажми меня</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
